<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  <title>{{title | default('livingdocs-stream')}}</title>
  <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  </head>
  <body>

    <header class="app__header app__header--full">
      <a class="site-logo" internal href="/">
        <img src="/assets/images/livingdocs-small.png">
      </a>
    </header>

    <main class="frontpage">
      {% block content %}{% endblock %}
    </main>

    <footer class="app__footer">
      <main>© 2014 Upfront GmbH</main>
    </footer>

    <script type="text/javascript" src="/views.js"></script>
    <script type="text/javascript" src="/assets/index.js" async></script>
  </body>
</html>
