/*
  For more information see:
  http://compass-style.org/reference/compass/typography/vertical_rhythm
  http://coding.smashingmagazine.com/2012/12/17/css-baseline-the-good-the-bad-and-the-ugly/
  http://atendesigngroup.com/blog/vertical-rhythm-compass
*/
@include establish-baseline;
